<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--<event name="customer_save_after_data_object">
	    <observer name="customer_save_after_observer" instance="Customization\Customer\Observer\AfterSaveCustomer" />
	</event>
	<event name="adminhtml_customer_save_after">
	    <observer name="customer_save_after_observer_admin" instance="Customization\Customer\Observer\AfterSaveCustomerAdmin" />
	</event>-->

	<!--<event name="customer_address_save_after">
	    <observer name="customer_addres_after_save_viv_observer" instance="Customization\Customer\Observer\AfterAddressSaveObserver" />
	</event>-->
</config>