<root>
	<config>
		<design>
			<header>
				<logo_width>153</logo_width>
				<logo_height>43</logo_height>
			</header>
		</design>
		<web>
			<default>
				<cms_home_page>athlete2-home-fr</cms_home_page>
			</default>
		</web>
		<cms>
			<wysiwyg>
				<enabled>hidden</enabled>
			</wysiwyg>
		</cms>
		<athlete2_settings>
			<general>
				<content_maxwidth>1440</content_maxwidth>
				<to_top>1</to_top>
				<lazyload>1</lazyload>
				<lazyload_exclude>rev-slidebg</lazyload_exclude>
				<deferjs>1</deferjs>
				<deferjs_combine_inline>1</deferjs_combine_inline>
				<deferjs_combine_magentoinit>1</deferjs_combine_magentoinit>
				<deferjs_exclude_homepage>0</deferjs_exclude_homepage>
				<deferjs_exclude_action>{"_1576115527932_932":{"condition":"checkout_index_index"},"_1576116261940_940":{"condition":"checkout_cart_index"}}</deferjs_exclude_action>
				<deferjs_exclude_path>[]</deferjs_exclude_path>
				<deferjs_show_action_path>0</deferjs_show_action_path>
				<content_fullwidth>1</content_fullwidth>
			</general>
			<header>
				<header_layout>header_1</header_layout>
				<header_fullwidth>0</header_fullwidth>
				<sticky_header>1</sticky_header>
				<sticky_header_smart>0</sticky_header_smart>
				<sticky_header_minimized>0</sticky_header_minimized>
				<show_top_links>1</show_top_links>
				<minicart_type>dropdown-hover</minicart_type>
				<minicart_btn_minimal>0</minicart_btn_minimal>
				<minicart_btn_text>my cart</minicart_btn_text>
				<search_type>slideout</search_type>
				<menu_position>1</menu_position>
				<menu_align>left</menu_align>
				<wishlist_position>main</wishlist_position>
				<compare_position>main</compare_position>
				<account_position>main</account_position>
				<account_action>login</account_action>
				<account_type>dropdown-hover</account_type>
				<mobile_header_layout>1</mobile_header_layout>
				<search_field_show>1</search_field_show>
				<catalog_category_products_list>1</catalog_category_products_list>
				<header_links_show>1</header_links_show>
				<test_image_header>overlay</test_image_header>
				<test_image_header2>panel</test_image_header2>
				<top_right_static><![CDATA[<ul><li style="padding:2px 6px;    line-height: 16px;">+44 (0) 123 4567 </li><li><a href="#">Top Deals</a></li><li><a href="#">Deal of the Day</a></li><li><a href="#">Add your links</a></li></ul>]]></top_right_static>
				<minicart_btn_hide_icon>1</minicart_btn_hide_icon>
				<minicart_style>modern</minicart_style>
				<disable_topline>0</disable_topline>
				<menu_style>default</menu_style>
				<top_left_static></top_left_static>
				<sticky_alt_logo>0</sticky_alt_logo>
				<mobile_header_minimal>1</mobile_header_minimal>
			</header>
			<mobile_header>
				<mobile_header_layout>2</mobile_header_layout>
				<wishlist_mobile_position></wishlist_mobile_position>
				<compare_mobile_position></compare_mobile_position>
				<mobile_header_menu_text>Navigation</mobile_header_menu_text>
				<mobile_header_hide_compare>0</mobile_header_hide_compare>
				<mobile_header_hide_wishlist>0</mobile_header_hide_wishlist>
				<mobile_header_minimal>0</mobile_header_minimal>
				<mobile_alt_logo>0</mobile_alt_logo>
			</mobile_header>
			<logo>
				<logo_width>212</logo_width>
				<logo_upload>Demos/default/logo2.png</logo_upload>
				<logo_upload_retina>Demos/default/logo2_1.png</logo_upload_retina>
				<logo_padding_horizontal></logo_padding_horizontal>
				<logo_padding_vertical>1</logo_padding_vertical>
				<mobile_logo_padding_horizontal></mobile_logo_padding_horizontal>
				<mobile_logo_padding_vertical></mobile_logo_padding_vertical>
				<logo_padding>30</logo_padding>
				<logo_upload_alt></logo_upload_alt>
				<logo_upload_alt_retina></logo_upload_alt_retina>
			</logo>
			<product>
				<fast_gallery_load_enable>1</fast_gallery_load_enable>
				<product_fullwidth>0</product_fullwidth>
				<product_gallery_fixed_size>0</product_gallery_fixed_size>
				<product_gallery_width></product_gallery_width>
				<actions_position>2</actions_position>
				<compare_disable>0</compare_disable>
				<wishlist_disable>0</wishlist_disable>
				<product_social_block>1</product_social_block>
				<related_columns>4</related_columns>
				<upsell_columns>5</upsell_columns>
				<product_tabs_right>1</product_tabs_right>
				<related_columns_l>4</related_columns_l>
				<related_columns_m>3</related_columns_m>
				<related_columns_s>2</related_columns_s>
				<related_dots_align>left</related_dots_align>
				<related_arrows_position>title</related_arrows_position>
				<related_title_align>left</related_title_align>
				<related_dots>1</related_dots>
				<related_arrows>1</related_arrows>
				<related_title_lines>1</related_title_lines>
				<prev_next>1</prev_next>
				<prev_next_mini>1</prev_next_mini>
				<product_social_min>0</product_social_min>
				<product_mailtosocial>0</product_mailtosocial>
				<reviews_in_tab>0</reviews_in_tab>
				<customtabs_by_block>{"_1557431587125_125":{"title":"Custom","block":"athlete-custom-tab","category_ids":"","product_skus":"","sort_order":""}}</customtabs_by_block>
				<customtabs_by_attribute>[]</customtabs_by_attribute>
			</product>
			<products_listing>
				<sticky_sidebar>1</sticky_sidebar>
				<filters_closed>0</filters_closed>
				<products_layout>1</products_layout>
				<grid_columns>5</grid_columns>
				<grid_columns_layout2>4</grid_columns_layout2>
				<add_to_cart>1</add_to_cart>
				<wishlist>1</wishlist>
				<compare>1</compare>
				<rating>1</rating>
				<price>1</price>
				<hover_image>1</hover_image>
				<category_name>1</category_name>
				<grid_columns_l>4</grid_columns_l>
				<grid_columns_m>3</grid_columns_m>
				<grid_columns_s>1</grid_columns_s>
				<quickview>1</quickview>
				<quickview_mobile>1</quickview_mobile>
				<grid_fullwidth>0</grid_fullwidth>
			</products_listing>
			<footer>
				<show_footer>1</show_footer>
				<footer_layout>1</footer_layout>
				<newsletter_style>big</newsletter_style>
				<newsletter_input_underlined>0</newsletter_input_underlined>
				<newsletter_title>SIGN UP &amp; GET 10% OFF.</newsletter_title>
				<newsletter_label>Our latest and greatest in your inbox, sign up now</newsletter_label>
				<show_footer_below_newsletter>1</show_footer_below_newsletter>
				<show_footer_bottom>1</show_footer_bottom>
				<store_switch_position>below-newsletter</store_switch_position>
				<store_switch_flags>1</store_switch_flags>
				<footer_store_switcher_font_style>1</footer_store_switcher_font_style>
				<show_copyright>1</show_copyright>
				<copyright_layout>1</copyright_layout>
				<copyright_text>© 2019 Athelete 2 - Premium Magento Theme. All Rights Reserved. Developed by Olegnax *** This is a demo store. Any orders placed through this store will not be honored or fulfilled.</copyright_text>
			</footer>
			<product_images>
				<product_page_image_width></product_page_image_width>
				<product_page_image_height></product_page_image_height>
				<listing_image_width></listing_image_width>
				<listing_image_height></listing_image_height>
				<product_image_width></product_image_width>
				<product_image_height></product_image_height>
				<thumb_image_width></thumb_image_width>
				<thumb_image_height></thumb_image_height>
			</product_images>
			<header_banner_below>
				<show_banner>1</show_banner>
				<header_banner_type>textfield</header_banner_type>
				<header_banner_custom><![CDATA[<h5 style="font-weight: 900;">score up to</h5> <h5 style="font-weight: 900;" class="at-highlight">50% off</h5> <h5 style="font-weight: 900;">selected styles</h5>]]></header_banner_custom>
				<header_banner_location></header_banner_location>
				<header_banner_columns>1</header_banner_columns>
				<header_banner_custom_2></header_banner_custom_2>
			</header_banner_below>
			<footer_banner>
				<show_banner>1</show_banner>
				<footer_banner_custom><![CDATA[<div class="d-flex align-items-center justify-content-center flex-wrap" style="padding: 10px 0;"><h4 style="font-weight: 900;">power play deals</h4><h4 class="at-highlight">shop the saving</h4></div>]]></footer_banner_custom>
				<footer_banner_type>textfield</footer_banner_type>
				<footer_banner_location>,cms_index_index,catalog_category_view,catalog_product_view,cms_page_view,checkout_cart_index</footer_banner_location>
				<footer_banner_columns>1</footer_banner_columns>
				<footer_banner_custom_2></footer_banner_custom_2>
			</footer_banner>
			<above_footer_block>
				<show_block>1</show_block>
				<above_footer_block_type>custom_block</above_footer_block_type>
				<above_footer_block_custom>content area</above_footer_block_custom>
				<above_footer_block_static>athlete2-brands-carousel</above_footer_block_static>
				<footer_banner_columns>1</footer_banner_columns>
				<footer_banner_custom_2></footer_banner_custom_2>
			</above_footer_block>
			<contacts_page>
				<show_title>0</show_title>
				<contacts_page_fullwidth>1</contacts_page_fullwidth>
				<contacts_layout>left-right</contacts_layout>
				<first_block_type>google_map</first_block_type>
				<first_block_content>asdfadsfasfd</first_block_content>
				<second_block_show>1</second_block_show>
				<second_block_content><![CDATA[<div class="info-block align-items-center">
<strong>* you can add custom content here.</strong>
</div>]]></second_block_content>
				<contacts_page_image></contacts_page_image>
				<third_block_show>0</third_block_show>
				<third_block_content><![CDATA[<div class="info-block align-items-center">
<strong>* you can also add custom content here.</strong>
</div>]]></third_block_content>
				<google_map_api_key>AIzaSyBvfgJUtjIHkNzbMe9tJFlYGKfPtS8Ox6A</google_map_api_key>
				<google_map_latitude>-33.866538</google_map_latitude>
				<google_map_longitude>151.195843</google_map_longitude>
				<google_map_zoom>16</google_map_zoom>
				<google_map_pin_color1></google_map_pin_color1>
				<google_map_pin_color2></google_map_pin_color2>
			</contacts_page>
			<blog>
				<blog_list_style>image-top</blog_list_style>
				<blog_style_classic>1</blog_style_classic>
				<blog_list_columns>2</blog_list_columns>
				<blog_list_categories>0</blog_list_categories>
				<blog_list_comments_link>0</blog_list_comments_link>
				<blog_list_read_more>0</blog_list_read_more>
				<blog_list_author>0</blog_list_author>
				<blog_list_date>0</blog_list_date>
				<blog_list_social_theme>1</blog_list_social_theme>
				<blog_list_social>0</blog_list_social>
				<blog_list_date_image>1</blog_list_date_image>
				<blog_list_page_layout>1column</blog_list_page_layout>
				<hide_title>0</hide_title>
				<hide_breadcrumbs>0</hide_breadcrumbs>
				<widget_columns>3</widget_columns>
				<blog_list_image_width></blog_list_image_width>
				<blog_list_image_height></blog_list_image_height>
				<blog_list_big_image_width></blog_list_big_image_width>
				<blog_list_big_image_height></blog_list_big_image_height>
				<blog_widget_image_width></blog_widget_image_width>
				<blog_widget_image_height></blog_widget_image_height>
			</blog>
			<blog_post>
				<page_layout>1column</page_layout>
				<narrow_post>1</narrow_post>
				<narrow_post_content>0</narrow_post_content>
				<narrow_post_p>1</narrow_post_p>
				<sticky_progress>1</sticky_progress>
				<share_sticky>1</share_sticky>
				<share_below_title>0</share_below_title>
				<share_below_title_theme>1</share_below_title_theme>
				<hide_categories>0</hide_categories>
				<hide_date>0</hide_date>
				<hide_comments_link>0</hide_comments_link>
				<hide_tags>0</hide_tags>
				<hide_author>0</hide_author>
				<hide_featured>1</hide_featured>
				<related_columns>3</related_columns>
				<related_title_hide>0</related_title_hide>
				<related_image_width></related_image_width>
				<related_image_height></related_image_height>
				<blog_related_product_columns>4</blog_related_product_columns>
			</blog_post>
			<social>
				<instagram_access_token></instagram_access_token>
			</social>
			<header_banner_top>
				<show_banner>1</show_banner>
				<head_top_ban_type>textfield</head_top_ban_type>
				<head_top_ban_custom>dfgadsfgsdfgsdfgsdfg</head_top_ban_custom>
				<head_top_ban_mode>always</head_top_ban_mode>
				<head_top_ban_close>1</head_top_ban_close>
			</header_banner_top>
		</athlete2_settings>
		<athlete2_design>
			<appearance_general>
				<google_font_enable>1</google_font_enable>
				<fontawesome_enabled>1</fontawesome_enabled>
				<body_font>Open Sans</body_font>
				<body_font_weight>300,300italic,500,500italic,600,600italic,700,700italic,800,regular</body_font_weight>
				<general_font>Open Sans</general_font>
				<general_font_weight>300italic</general_font_weight>
				<title_font>Open Sans</title_font>
				<title_font_weight>300,300italic,500,500italic,600,600italic,700,700italic,800,regular</title_font_weight>
				<menu_font>Open Sans</menu_font>
				<menu_font_weight>300,300italic,500,500italic,600,600italic,700,700italic,800,regular</menu_font_weight>
				<button_font>Open Sans</button_font>
				<button_font_weight>300,300italic,500,500italic,600,600italic,700,700italic,800,regular</button_font_weight>
				<footer_google_font_enable>0</footer_google_font_enable>
				<footer_content_font>Roboto</footer_content_font>
				<footer_content_font_weight>regular</footer_content_font_weight>
				<copyright_google_font_enable>0</copyright_google_font_enable>
				<copyright_content_font>Roboto</copyright_content_font>
				<copyright_content_font_weight>regular</copyright_content_font_weight>
				<text_letter_spacing_small>-1</text_letter_spacing_small>
				<text_letter_spacing_medium>-2</text_letter_spacing_medium>
				<text_letter_spacing_big>-2</text_letter_spacing_big>
				<text_font_weight_small></text_font_weight_small>
				<text_font_weight_medium></text_font_weight_medium>
				<text_font_weight_big></text_font_weight_big>
				<website_bg_color></website_bg_color>
				<body_color></body_color>
				<titles_color></titles_color>
				<main_color>#ffe51e</main_color>
				<highlight_color></highlight_color>
				<links_color></links_color>
				<links_hover></links_hover>
				<bg_links_hover></bg_links_hover>
				<bg_links_hover_bg></bg_links_hover_bg>
				<input_label_color></input_label_color>
				<inputs_underlined>1</inputs_underlined>
			</appearance_general>
			<appearance_buttons>
				<main_button_text_color></main_button_text_color>
				<main_button_bg_color></main_button_bg_color>
				<main_button_text_hover_color></main_button_text_hover_color>
				<main_button_bg_hover_color></main_button_bg_hover_color>
				<main_button_letterspacing></main_button_letterspacing>
				<main_button_font_weight></main_button_font_weight>
				<second_button_text_color></second_button_text_color>
				<second_button_bg_color></second_button_bg_color>
				<second_button_text_hover_color></second_button_text_hover_color>
				<second_button_bg_hover_color></second_button_bg_hover_color>
				<naked_button_text_color></naked_button_text_color>
				<naked_button_text_hover_color></naked_button_text_hover_color>
				<naked_button_bg_hover_color></naked_button_bg_hover_color>
				<outline_button_border_color></outline_button_border_color>
				<outline_button_text_color></outline_button_text_color>
				<outline_button_border_hover></outline_button_border_hover>
				<outline_button_text_hover></outline_button_text_hover>
				<outline_button_background_hover></outline_button_background_hover>
			</appearance_buttons>
			<appearance_header>
				<header_bg>#000000</header_bg>
				<logo_bg>rgb(255, 229, 30)</logo_bg>
				<top_bar_bg>#202020</top_bar_bg>
				<top_bar_color>#d9d9d9</top_bar_color>
				<top_bar_text_font_size>11</top_bar_text_font_size>
				<menu_letter_spacing></menu_letter_spacing>
				<top_bar_swatches_bg_hover></top_bar_swatches_bg_hover>
				<top_bar_swatches_color_hover></top_bar_swatches_color_hover>
				<minicart_icon_bg></minicart_icon_bg>
				<minicart_icon_color></minicart_icon_color>
				<minicart_icon_bg_hover></minicart_icon_bg_hover>
				<minicart_icon_color_hover></minicart_icon_color_hover>
				<header_item_icon_bg></header_item_icon_bg>
				<header_item_icon_color></header_item_icon_color>
				<header_item_icon_bg_hover></header_item_icon_bg_hover>
				<header_item_icon_color_hover></header_item_icon_color_hover>
				<search_icon_bg></search_icon_bg>
				<search_icon_color></search_icon_color>
				<search_icon_bg_hover></search_icon_bg_hover>
				<search_icon_color_hover></search_icon_color_hover>
				<search_field_bg></search_field_bg>
				<search_field_text_color></search_field_text_color>
				<menu_color></menu_color>
				<menu_bg_hover></menu_bg_hover>
				<menu_color_hover></menu_color_hover>
				<dropdown_menu_text_color></dropdown_menu_text_color>
				<dropdown_menu_text_bg_hover></dropdown_menu_text_bg_hover>
				<dropdown_menu_color_hover></dropdown_menu_color_hover>
				<dropdown_bg></dropdown_bg>
				<top_bar_links_bg></top_bar_links_bg>
				<top_bar_links_color_hover></top_bar_links_color_hover>
				<top_bar_switcher_text_color></top_bar_switcher_text_color>
				<top_bar_switcher_bg></top_bar_switcher_bg>
				<top_bar_switcher_text_hover></top_bar_switcher_text_hover>
				<top_bar_switcher_bg_hover></top_bar_switcher_bg_hover>
				<top_bar_switcher_font_size></top_bar_switcher_font_size>
				<top_bar_switcher_drop_font_size></top_bar_switcher_drop_font_size>
				<menu_below_bg></menu_below_bg>
				<dropdown_3rd_color></dropdown_3rd_color>
				<dropdown_menu_active_color></dropdown_menu_active_color>
				<dropdown_menu_active_bg></dropdown_menu_active_bg>
				<submenu_dropdown_bg></submenu_dropdown_bg>
				<menu_font_size></menu_font_size>
				<menu_font_weight></menu_font_weight>
				<menu_drop_font_size></menu_drop_font_size>
				<menu_drop_letter_spacing></menu_drop_letter_spacing>
				<menu_drop_font_weight></menu_drop_font_weight>
			</appearance_header>
			<appearance_header_mobile>
				<menu_toggle_bg></menu_toggle_bg>
				<menu_toggle_text></menu_toggle_text>
				<menu_toggle_icon></menu_toggle_icon>
				<menu_mobile_font_size></menu_mobile_font_size>
				<menu_mobile_letter_spacing></menu_mobile_letter_spacing>
				<menu_mobile_font_weight></menu_mobile_font_weight>
				<menu_mobile_tab_color></menu_mobile_tab_color>
				<menu_mobile_tab_bg></menu_mobile_tab_bg>
				<menu_mobile_tab_color_hover></menu_mobile_tab_color_hover>
				<menu_mobile_tab_bg_hover></menu_mobile_tab_bg_hover>
				<heading_menu_acount></heading_menu_acount>
				<menu_mobile_account_input_border></menu_mobile_account_input_border>
				<menu_mobile_account_input_border_hover></menu_mobile_account_input_border_hover>
				<menu_mobile_account_input_text_color></menu_mobile_account_input_text_color>
				<menu_mobile_account_input_bg></menu_mobile_account_input_bg>
				<menu_mobile_account_new_bg></menu_mobile_account_new_bg>
				<menu_mobile_account_new_text></menu_mobile_account_new_text>
				<menu_mobile_account_new_title></menu_mobile_account_new_title>
			</appearance_header_mobile>
			<appearance_modals>
				<overlay_bg></overlay_bg>
				<overlay_text_color></overlay_text_color>
				<overlay_accents></overlay_accents>
				<overlay_search_text></overlay_search_text>
			</appearance_modals>
			<appearance_fonts>
				<menu_font_size></menu_font_size>
				<menu_font_weight></menu_font_weight>
			</appearance_fonts>
			<login_page>
				<login_page_bg_color>rgb(246, 246, 246)</login_page_bg_color>
				<login_page_create_account_bg></login_page_create_account_bg>
				<login_page_image>Demos/default/login-page.jpg</login_page_image>
				<register_page_bg_color>rgb(246, 246, 246)</register_page_bg_color>
				<register_page_image>Demos/default/bg-register3.jpg</register_page_image>
				<register_page_title_color></register_page_title_color>
			</login_page>
			<checkout_page>
				<success_page_bg_color></success_page_bg_color>
				<success_page_image></success_page_image>
				<success_page_title_color></success_page_title_color>
				<order_tab_background></order_tab_background>
				<order_tab_text_color></order_tab_text_color>
			</checkout_page>
			<appearance_sidebar>
				<sidebar_bg></sidebar_bg>
				<sidebar_border_size></sidebar_border_size>
				<sidebar_border_color></sidebar_border_color>
				<sidebar_title_color></sidebar_title_color>
				<sidebar_links_color></sidebar_links_color>
				<sidebar_links_hover_color></sidebar_links_hover_color>
				<sidebar_links_hover_bg></sidebar_links_hover_bg>
				<filter_buttom_counter_bg_color></filter_buttom_counter_bg_color>
				<filter_buttom_counter_text_color></filter_buttom_counter_text_color>
				<layered_navigation_loader_overlay_bg></layered_navigation_loader_overlay_bg>
				<scroll_loader_color></scroll_loader_color>
				<sidebar_links_active_color></sidebar_links_active_color>
				<sidebar_links_active_bg></sidebar_links_active_bg>
				<sidebar_item_checkbox_color></sidebar_item_checkbox_color>
				<sidebar_item_active_checkbox_color></sidebar_item_active_checkbox_color>
				<price_slider_handle_color></price_slider_handle_color>
				<price_slider_handle_hover_color></price_slider_handle_hover_color>
				<price_slider_line_color></price_slider_line_color>
				<price_slider_line_active_color></price_slider_line_active_color>
				<price_slider_tooltip_bg></price_slider_tooltip_bg>
				<price_slider_tooltip_text></price_slider_tooltip_text>
			</appearance_sidebar>
			<appearance_footer>
				<footer_bg></footer_bg>
				<footer_color></footer_color>
				<footer_titles></footer_titles>
				<footer_link></footer_link>
				<footer_link_hover></footer_link_hover>
				<footer_link_bg></footer_link_bg>
				<footer_link_font_size></footer_link_font_size>
				<footer_store_switcher_text_color></footer_store_switcher_text_color>
				<footer_store_switcher_bg></footer_store_switcher_bg>
				<footer_store_switcher_text_hover></footer_store_switcher_text_hover>
				<footer_store_switcher_bg_hover></footer_store_switcher_bg_hover>
				<footer_store_switcher_font_size></footer_store_switcher_font_size>
				<footer_store_switcher_drop_font_size></footer_store_switcher_drop_font_size>
				<copyright_bg></copyright_bg>
				<copyright_color></copyright_color>
			</appearance_footer>
			<appearance_footer_newsletter>
				<footer_newsletter_bg></footer_newsletter_bg>
				<footer_newsletter_color></footer_newsletter_color>
				<footer_newsletter_title></footer_newsletter_title>
				<footer_newsletter_input_bg></footer_newsletter_input_bg>
				<footer_newsletter_input_color></footer_newsletter_input_color>
				<footer_newsletter_button_color></footer_newsletter_button_color>
				<footer_newsletter_button_bg></footer_newsletter_button_bg>
				<footer_newsletter_button_hover></footer_newsletter_button_hover>
				<footer_newsletter_button_hover_bg></footer_newsletter_button_hover_bg>
			</appearance_footer_newsletter>
			<appearance_custom>
				<custom_css_enabled>1</custom_css_enabled>
				<custom_css_content>.product-item .price-box .price-container .price-label {
display:none!important;
}
.product-info-main .product.attribute.overview,
.product-item .price-box .price-container .price-label {
display:none!important;
}
.page-layout-2columns-right.catalog-product-view .number-of-ratings .rating-number .label{
display:none;
}</custom_css_content>
			</appearance_custom>
			<appearance_reviews>
				<reviews_rating_color></reviews_rating_color>
				<reviews_rating_active_color></reviews_rating_active_color>
				<reviews_small_rating_bg></reviews_small_rating_bg>
				<reviews_block_bg></reviews_block_bg>
				<reviews_block_text></reviews_block_text>
				<reviews_block_text_big></reviews_block_text_big>
				<reviews_block_top_bg></reviews_block_top_bg>
				<reviews_block_top_text></reviews_block_top_text>
				<reviews_block_top_rating></reviews_block_top_rating>
			</appearance_reviews>
			<appearance_toolbar>
				<toolbar_background></toolbar_background>
				<toolbar_text></toolbar_text>
				<toolbar_icon_color></toolbar_icon_color>
				<toolbar_icon_bg></toolbar_icon_bg>
				<toolbar_icon_hover_color>rgb(0, 0, 0)</toolbar_icon_hover_color>
				<toolbar_icon_hover_bg></toolbar_icon_hover_bg>
				<toolbar_progress_line_color></toolbar_progress_line_color>
				<toolbar_progress_line_color_active></toolbar_progress_line_color_active>
				<toolbar_dropdown_bg></toolbar_dropdown_bg>
				<toolbar_link_color></toolbar_link_color>
				<toolbar_link_hover_color></toolbar_link_hover_color>
				<toolbar_link_hover_bg></toolbar_link_hover_bg>
				<toolbar_pager_color></toolbar_pager_color>
				<toolbar_pager_color_hover></toolbar_pager_color_hover>
				<toolbar_pager_bg></toolbar_pager_bg>
				<toolbar_pager_active_color></toolbar_pager_active_color>
				<toolbar_pager_active_bg></toolbar_pager_active_bg>
			</appearance_toolbar>
			<appearance_product>
				<product_price_color></product_price_color>
				<product_page_price_color></product_page_price_color>
				<product_special_price_color></product_special_price_color>
				<product_old_price_color></product_old_price_color>
				<product_name_font_size></product_name_font_size>
				<product_name_font_weight></product_name_font_weight>
				<product_name_letter_spacing></product_name_letter_spacing>
				<product_price_font_size></product_price_font_size>
				<product_price_font_weight></product_price_font_weight>
				<product_price_letter_spacing></product_price_letter_spacing>
				<product_page_actions></product_page_actions>
				<product_page_actions_hover></product_page_actions_hover>
				<product_page_tab_color></product_page_tab_color>
				<product_page_tab_bg></product_page_tab_bg>
				<product_page_tab_hover_color></product_page_tab_hover_color>
				<product_page_tab_active_color></product_page_tab_active_color>
				<product_page_tab_active_bg></product_page_tab_active_bg>
				<product_page_accordion_text_color></product_page_accordion_text_color>
				<product_page_tab_content_bg></product_page_tab_content_bg>
				<product_page_tab_content_text></product_page_tab_content_text>
			</appearance_product>
			<appearance_arrows>
				<arrows_product_icon_color></arrows_product_icon_color>
				<arrows_product_icon_hover_color></arrows_product_icon_hover_color>
				<arrows_product_bg_color></arrows_product_bg_color>
				<arrows_product_bg_hover_color></arrows_product_bg_hover_color>
				<arrows_icon_color></arrows_icon_color>
				<arrows_bg_color></arrows_bg_color>
				<arrows_icon_hover_color></arrows_icon_hover_color>
				<arrows_bg_hover_color></arrows_bg_hover_color>
				<carousel_dot_color></carousel_dot_color>
				<carousel_dot_active_color></carousel_dot_active_color>
				<bannerslider_arrow_icon_color></bannerslider_arrow_icon_color>
				<bannerslider_arrow_icon_hover_color></bannerslider_arrow_icon_hover_color>
				<bannerslider_arrow_background></bannerslider_arrow_background>
				<bannerslider_arrow_background_hover></bannerslider_arrow_background_hover>
				<slideshow_arrow_icon_color></slideshow_arrow_icon_color>
				<slideshow_arrow_icon_hover_color></slideshow_arrow_icon_hover_color>
				<slideshow_arrow_background></slideshow_arrow_background>
				<slideshow_arrow_background_hover></slideshow_arrow_background_hover>
				<slideshow_progress_line></slideshow_progress_line>
				<totop_icon_color></totop_icon_color>
				<totop_icon_hover_color></totop_icon_hover_color>
				<totop_background></totop_background>
				<totop_background_hover></totop_background_hover>
			</appearance_arrows>
			<appearance_banners>
				<header_banner_background_color></header_banner_background_color>
				<header_banner_text_color></header_banner_text_color>
				<header_banner_link_color></header_banner_link_color>
				<header_banner_link_hover_color></header_banner_link_hover_color>
				<footer_banner_background_color>rgb(202, 239, 54)</footer_banner_background_color>
				<footer_banner_background></footer_banner_background>
				<footer_banner_link_color></footer_banner_link_color>
				<footer_banner_link_hover_color></footer_banner_link_hover_color>
				<header_banner2_background_color></header_banner2_background_color>
				<header_banner2_text_color></header_banner2_text_color>
				<header_banner2_link_color></header_banner2_link_color>
				<header_banner2_link_hover_color></header_banner2_link_hover_color>
				<footer_banner2_background_color></footer_banner2_background_color>
				<footer_banner2_background></footer_banner2_background>
				<footer_banner2_link_color></footer_banner2_link_color>
				<footer_banner2_link_hover_color></footer_banner2_link_hover_color>
			</appearance_banners>
			<appearance_cart_page>
				<minicart_viewcart_btn_color></minicart_viewcart_btn_color>
				<minicart_viewcart_btn_bg></minicart_viewcart_btn_bg>
				<minicart_viewcart_btn_color_hover></minicart_viewcart_btn_color_hover>
				<minicart_viewcart_btn_bg_hover></minicart_viewcart_btn_bg_hover>
				<cart_price_color></cart_price_color>
				<cart_price_font_size></cart_price_font_size>
				<cart_price_font_weight></cart_price_font_weight>
				<cart_price_letter_spacing></cart_price_letter_spacing>
				<cart_page_summary_bottom_bg></cart_page_summary_bottom_bg>
				<cart_page_summary_bottom_link></cart_page_summary_bottom_link>
			</appearance_cart_page>
			<appearance_product_listing>
				<listing_name_font_size></listing_name_font_size>
				<listing_name_color></listing_name_color>
				<listing_name_hover_color></listing_name_hover_color>
				<listing_name_bg></listing_name_bg>
				<listing_price_color></listing_price_color>
				<listing_price_font_size></listing_price_font_size>
				<listing_price_hover_color></listing_price_hover_color>
				<listing_price_listview></listing_price_listview>
				<listing_price_listview_font_size></listing_price_listview_font_size>
				<listing_category_link></listing_category_link>
				<listing_overlay_color></listing_overlay_color>
				<listing_actions_color></listing_actions_color>
				<listing_actions_bg></listing_actions_bg>
				<listing_actions_hover></listing_actions_hover>
				<listing_actions_bg_hover></listing_actions_bg_hover>
				<listing_actions_indetails></listing_actions_indetails>
				<listing_quickview_btn></listing_quickview_btn>
				<listing_quickview_btn_bg></listing_quickview_btn_bg>
				<listing_quickview_btn_hover></listing_quickview_btn_hover>
				<listing_quickview_btn_bg_hover></listing_quickview_btn_bg_hover>
			</appearance_product_listing>
			<blog_list>
				<title_font_size></title_font_size>
				<title_letter_spacing></title_letter_spacing>
				<big_title_font_size></big_title_font_size>
				<big_title_letter_spacing></big_title_letter_spacing>
				<title_color></title_color>
				<title_color_hover></title_color_hover>
				<title_bg_hover></title_bg_hover>
				<date_bg_color></date_bg_color>
				<date_text_color></date_text_color>
				<date_bg_color_hover></date_bg_color_hover>
				<date_text_color_hover></date_text_color_hover>
				<category_bg_color></category_bg_color>
				<category_text_color></category_text_color>
				<category_bg_color_hover></category_bg_color_hover>
				<category_text_color_hover></category_text_color_hover>
				<social_color></social_color>
				<social_color_hover></social_color_hover>
				<readmore_color></readmore_color>
				<readmore_hover></readmore_hover>
				<big_post_white>1</big_post_white>
				<big_post_gradient_color></big_post_gradient_color>
				<big_post_gradient_color_second></big_post_gradient_color_second>
				<sidebar_tags_bg_color></sidebar_tags_bg_color>
				<sidebar_tags_text_color></sidebar_tags_text_color>
				<sidebar_tags_bg_color_hover></sidebar_tags_bg_color_hover>
				<sidebar_tags_text_color_hover></sidebar_tags_text_color_hover>
				<widget_titles_color></widget_titles_color>
				<widget_titles_color_hover></widget_titles_color_hover>
				<widget_titles_bg_hover></widget_titles_bg_hover>
			</blog_list>
			<blog_post>
				<title_font_size></title_font_size>
				<content_font_size></content_font_size>
				<content_line_height></content_line_height>
				<related_title_font_size></related_title_font_size>
				<meta_text_color></meta_text_color>
				<category_bg_color></category_bg_color>
				<category_text_color></category_text_color>
				<category_bg_color_hover></category_bg_color_hover>
				<category_text_color_hover></category_text_color_hover>
				<social_color></social_color>
				<social_color_hover></social_color_hover>
				<progress_color>rgb(0, 0, 0)</progress_color>
				<progess_color_active>rgb(255, 229, 30)</progess_color_active>
				<tags_bg_color></tags_bg_color>
				<tags_text_color></tags_text_color>
				<tags_bg_color_hover></tags_bg_color_hover>
				<tags_text_color_hover></tags_text_color_hover>
				<next_prev_color></next_prev_color>
				<next_prev_color_hover></next_prev_color_hover>
				<next_prev_bg_color_hover></next_prev_bg_color_hover>
				<comments_form_bg></comments_form_bg>
				<comments_left_line></comments_left_line>
			</blog_post>
			<appearance_banners_cms>
				<banners_cms_text_color></banners_cms_text_color>
				<banners_cms_text_color_hover></banners_cms_text_color_hover>
				<banners_cms_text_bg></banners_cms_text_bg>
				<banners_cms_text_bg_hover></banners_cms_text_bg_hover>
				<banners_cms_button_text></banners_cms_button_text>
				<banners_cms_button_bg></banners_cms_button_bg>
			</appearance_banners_cms>
		</athlete2_design>
		<olegnax_brandslider>
			<general>
				<attribute_code>manufacturer</attribute_code>
				<enable>1</enable>
			</general>
		</olegnax_brandslider>
		<athleteslideshow>
			<general>
				<enabled>1</enabled>
				<show>home</show>
				<slider>athlete</slider>
			</general>
			<athlete>
				<allow_wrap>1</allow_wrap>
				<auto_height>container</auto_height>
				<easing>easeInOutExpo</easing>
				<fx>scrollVert</fx>
				<pause_on_hover>1</pause_on_hover>
				<speed>1200</speed>
				<sync>1</sync>
				<timeout>80000</timeout>
				<timeline>1</timeline>
				<responsive_banners>0</responsive_banners>
			</athlete>
			<revolutionslider>
				<id>0</id>
				<slider_id>greece-home</slider_id>
			</revolutionslider>
		</athleteslideshow>
		<olegnax_infinitescroll>
			<general>
				<type>button</type>
				<button_label>Load more</button_label>
				<loader_type>theme</loader_type>
				<loader></loader>
				<progress_counter>1</progress_counter>
				<progress_label1>You've viewed </progress_label1>
				<progress_label2> of </progress_label2>
				<progress_label3> products</progress_label3>
				<products_container></products_container>
				<product_container></product_container>
			</general>
		</olegnax_infinitescroll>
		<olegnax_layered_navigation>
			<general>
				<enable>1</enable>
				<filters_type>checkbox</filters_type>
				<abort_prev_request>1</abort_prev_request>
			</general>
			<price_slider>
				<price_slider>1</price_slider>
			</price_slider>
			<loaders>
				<loader_type_filters>theme</loader_type_filters>
				<loader_filters></loader_filters>
				<loader_type_content>theme</loader_type_content>
				<loader_content></loader_content>
				<loader_content_selector></loader_content_selector>
				<loader_type_page></loader_type_page>
				<loader_page></loader_page>
			</loaders>
		</olegnax_layered_navigation>
		<ox_megamenu_settings>
			<general>
				<enable_megamenu>1</enable_megamenu>
				<show_menu_parent_arrow>0</show_menu_parent_arrow>
				<show_sub_parent_arrow>1</show_sub_parent_arrow>
				<header_container>.row</header_container>
			</general>
		</ox_megamenu_settings>
		<olegnax_productlabel>
			<general>
				<enable>1</enable>
			</general>
			<label>
				<new>1</new>
				<new_text>NEW</new_text>
				<new_color></new_color>
				<new_background_color></new_background_color>
				<sale>1</sale>
				<sale_text>SALE {{discount_percent}} </sale_text>
				<sale_color></sale_color>
				<sale_background_color>rgb(65, 196, 225)</sale_background_color>
				<featured>1</featured>
				<featured_text>FEATURED</featured_text>
				<featured_color></featured_color>
				<featured_background_color></featured_background_color>
				<bestseller>1</bestseller>
				<bestseller_text>BESTSELLER</bestseller_text>
				<bestseller_color></bestseller_color>
				<bestseller_background_color></bestseller_background_color>
				<custom>0</custom>
				<custom_text></custom_text>
				<custom_color></custom_color>
				<custom_background_color></custom_background_color>
				<label_position>bottom-left</label_position>
				<label_position_product>top-left</label_position_product>
			</label>
		</olegnax_productlabel>
		<olegnax_productreviewssummary>
			<enable_all>
				<enabled>1</enabled>
			</enable_all>
			<general>
				<rating_overall>1</rating_overall>
				<write_btn_overall>0</write_btn_overall>
				<rating_bystar_rating>1</rating_bystar_rating>
				<stars_text>Stars</stars_text>
				<show_rating_percent>1</show_rating_percent>
				<show_rating_count>1</show_rating_count>
				<rating_breakdown>1</rating_breakdown>
				<write_btn_after>1</write_btn_after>
			</general>
		</olegnax_productreviewssummary>
		<olegnax_quickview>
			<general>
				<enable>1</enable>
				<enable_product_listing>1</enable_product_listing>
			</general>
		</olegnax_quickview>
	</config>
</root>
