<?xml version="1.0"?>
<!--
/**
 * @category Mageants Product360Image
 * @package Mageants_Product360Image
 * @copyright Copyright (c) 2017 Mageants
 * @author Mageants Team <support@Mageants.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="mageants_product360image" frontName="mageants_product360image">
            <module name="Mageants_Product360Image" before="Magento_Backend"/>
        </route>
    </router>
</config>
